<div class="container px-6 pt-28 pb-6 mx-auto max-w-full">
  <div class="block p-6 rounded-lg shadow-lg bg-white">
    <div class="flex justify-end mb-4">
      <!-- <div class="flex items-center">
        <input
          type="text"
          class="border py-2 px-4 w-full rounded-lg"
          placeholder="Search..."
        />
        <button
          class="bg-blue-700 hover:bg-blue-800 text-white rounded-lg py-2 px-4 ml-2"
        >
          Search
        </button>
      </div> -->
      <div>
        <button
          type="button"
          routerLink="add-report-hazard"
          class="flex items-center bg-lime-500 hover:bg-lime-600 text-white rounded-lg py-2 px-4 ml-2"
        >
          <svg
            class="w-6 h-6 mr-1"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z"
              clip-rule="evenodd"
            ></path>
          </svg>
          Report Hazard
        </button>
      </div>
    </div>

    <div class="overflow-x-auto">
      <table class="table-fixed border-collapse">
        <thead class="border-b bg-blue-200">
          <tr>
            <!-- Column headers -->
            <th
              scope="col"
              class="text-sm font-semibold whitespace-nowrap text-gray-600 px-6 pt-4 border-r"
            >
              No.
            </th>
            <th
              scope="col"
              [class]="
                orderField == 'description' ? 'text-black' : 'text-gray-600'
              "
              class="text-sm font-semibold whitespace-nowrap px-6 pt-4 border-r"
            >
              <div
                class="flex flex-row justify-center items-center align-middle gap-1 cursor-pointer"
                (click)="orderByField('description')"
              >
                Description
                <hero-icon
                  *ngIf="orderField == 'description'"
                  [name]="orderByAsc ? 'arrow-down' : 'arrow-up'"
                  type="outline"
                  class="h-3 w-3"
                ></hero-icon>
              </div>
            </th>
            <th
              scope="col"
              [class]="orderField == 'm_type' ? 'text-black' : 'text-gray-600'"
              class="text-sm font-semibold whitespace-nowrap px-6 pt-4 border-r"
            >
              <div
                class="flex flex-row justify-center items-center align-middle gap-1 cursor-pointer"
                (click)="orderByField('m_type.type')"
              >
                Engine/APU Type
                <hero-icon
                  *ngIf="orderField == 'm_type'"
                  [name]="orderByAsc ? 'arrow-down' : 'arrow-up'"
                  type="outline"
                  class="h-3 w-3"
                ></hero-icon>
              </div>
            </th>
            <th
              scope="col"
              [class]="
                orderField == 'm_aircraft_type' ? 'text-black' : 'text-gray-600'
              "
              class="text-sm font-semibold whitespace-nowrap px-6 pt-4 border-r"
            >
              <div
                class="flex flex-row justify-center items-center align-middle gap-1 cursor-pointer"
                (click)="orderByField('m_aircraft_type.ac_type')"
              >
                Aircraft Type
                <hero-icon
                  *ngIf="orderField == 'm_aircraft_type'"
                  [name]="orderByAsc ? 'arrow-down' : 'arrow-up'"
                  type="outline"
                  class="h-3 w-3"
                ></hero-icon>
              </div>
            </th>
            <th
              scope="col"
              [class]="orderField == 'model' ? 'text-black' : 'text-gray-600'"
              class="text-sm font-semibold whitespace-nowrap px-6 pt-4 border-r"
            >
              <div
                class="flex flex-row justify-center items-center align-middle gap-1 cursor-pointer"
                (click)="orderByField('model')"
              >
                Model
                <hero-icon
                  *ngIf="orderField == 'model'"
                  [name]="orderByAsc ? 'arrow-down' : 'arrow-up'"
                  type="outline"
                  class="h-3 w-3"
                ></hero-icon>
              </div>
            </th>
            <th
              scope="col"
              [class]="
                orderField == 'part_number' ? 'text-black' : 'text-gray-600'
              "
              class="text-sm font-semibold whitespace-nowrap px-6 pt-4 border-r"
            >
              <div
                class="flex flex-row justify-center items-center align-middle gap-1 cursor-pointer"
                (click)="orderByField('part_number')"
              >
                Part Number
                <hero-icon
                  *ngIf="orderField == 'part_number'"
                  [name]="orderByAsc ? 'arrow-down' : 'arrow-up'"
                  type="outline"
                  class="h-3 w-3"
                ></hero-icon>
              </div>
            </th>
            <th
              scope="col"
              [class]="
                orderField == 'serial_number' ? 'text-black' : 'text-gray-600'
              "
              class="text-sm font-semibold whitespace-nowrap px-6 pt-4 border-r"
            >
              <div
                class="flex flex-row justify-center items-center align-middle gap-1 cursor-pointer"
                (click)="orderByField('serial_number')"
              >
                Serial Number
                <hero-icon
                  *ngIf="orderField == 'serial_number'"
                  [name]="orderByAsc ? 'arrow-down' : 'arrow-up'"
                  type="outline"
                  class="h-3 w-3"
                ></hero-icon>
              </div>
            </th>
            <th
              scope="col"
              [class]="
                orderField == 'inventory_number'
                  ? 'text-black'
                  : 'text-gray-600'
              "
              class="text-sm font-semibold whitespace-nowrap px-6 pt-4 border-r"
            >
              <div
                class="flex flex-row justify-center items-center align-middle gap-1 cursor-pointer"
                (click)="orderByField('inventory_number')"
              >
                Inventory Number
                <hero-icon
                  *ngIf="orderField == 'inventory_number'"
                  [name]="orderByAsc ? 'arrow-down' : 'arrow-up'"
                  type="outline"
                  class="h-3 w-3"
                ></hero-icon>
              </div>
            </th>
            <th
              scope="col"
              [class]="
                orderField == 'manufacture_date'
                  ? 'text-black'
                  : 'text-gray-600'
              "
              class="text-sm font-semibold whitespace-nowrap px-6 pt-4 border-r"
            >
              <div
                class="flex flex-row justify-center items-center align-middle gap-1 cursor-pointer"
                (click)="orderByField('manufacture_date')"
              >
                Manufacture Date
                <hero-icon
                  *ngIf="orderField == 'manufacture_date'"
                  [name]="orderByAsc ? 'arrow-down' : 'arrow-up'"
                  type="outline"
                  class="h-3 w-3"
                ></hero-icon>
              </div>
            </th>
            <th
              scope="col"
              [class]="
                orderField == 'equipment_datum.request[0]'
                  ? 'text-black'
                  : 'text-gray-600'
              "
              class="text-sm font-semibold whitespace-nowrap px-6 pt-4 border-r"
            >
              <div
                class="flex flex-row justify-center items-center align-middle gap-1 cursor-pointer"
                (click)="orderByField('equipment_datum.request[0].id_request')"
              >
                Order
                <hero-icon
                  *ngIf="orderField == 'equipment_datum.request[0]'"
                  [name]="orderByAsc ? 'arrow-down' : 'arrow-up'"
                  type="outline"
                  class="h-3 w-3"
                ></hero-icon>
              </div>
            </th>
            <th
              scope="col"
              [class]="
                orderField == 'm_manufacture' ? 'text-black' : 'text-gray-600'
              "
              class="text-sm font-semibold whitespace-nowrap px-6 pt-4 border-r"
            >
              <div
                class="flex flex-row justify-center items-center align-middle gap-1 cursor-pointer"
                (click)="orderByField('m_manufacture.manufacture')"
              >
                Manufacture
                <hero-icon
                  *ngIf="orderField == 'm_manufacture'"
                  [name]="orderByAsc ? 'arrow-down' : 'arrow-up'"
                  type="outline"
                  class="h-3 w-3"
                ></hero-icon>
              </div>
            </th>
            <th
              scope="col"
              class="text-sm font-semibold whitespace-nowrap text-gray-600 px-6 pt-4 border-r"
            >
              Due Date
            </th>
            <th
              scope="col"
              [class]="orderField == 'm_owner' ? 'text-black' : 'text-gray-600'"
              class="text-sm font-semibold whitespace-nowrap px-6 pt-4 border-r"
            >
              <div
                class="flex flex-row justify-center items-center align-middle gap-1 cursor-pointer"
                (click)="orderByField('m_owner.owner_name')"
              >
                Owner
                <hero-icon
                  *ngIf="orderField == 'm_owner'"
                  [name]="orderByAsc ? 'arrow-down' : 'arrow-up'"
                  type="outline"
                  class="h-3 w-3"
                ></hero-icon>
              </div>
            </th>
            <th
              scope="col"
              [class]="
                orderField == 'storage_location'
                  ? 'text-black'
                  : 'text-gray-600'
              "
              class="text-sm font-semibold whitespace-nowrap px-6 pt-4 border-r"
            >
              <div
                class="flex flex-row justify-center items-center align-middle gap-1 cursor-pointer"
                (click)="orderByField('storage_location')"
              >
                Storage Location
                <hero-icon
                  *ngIf="orderField == 'storage_location'"
                  [name]="orderByAsc ? 'arrow-down' : 'arrow-up'"
                  type="outline"
                  class="h-3 w-3"
                ></hero-icon>
              </div>
            </th>
            <!-- <th
              scope="col"
              class="text-sm font-semibold whitespace-nowrap text-gray-600 px-6 pt-4 border-r"
            >
              Subject
            </th> -->
            <th
              scope="col"
              [class]="orderField == 'status' ? 'text-black' : 'text-gray-600'"
              class="text-sm font-semibold whitespace-nowrap px-6 pt-4 border-r"
            >
              <div
                class="flex flex-row justify-center items-center align-middle gap-1 cursor-pointer"
                (click)="orderByField('status')"
              >
                Status
                <hero-icon
                  *ngIf="orderField == 'status'"
                  [name]="orderByAsc ? 'arrow-down' : 'arrow-up'"
                  type="outline"
                  class="h-3 w-3"
                ></hero-icon>
              </div>
            </th>
            <th
              scope="col"
              class="text-sm font-semibold whitespace-nowrap text-gray-600 px-6 pt-4 border-r"
            >
              Action
            </th>
            <!-- Add additional column headers here -->
          </tr>
          <tr>
            <th
              scope="col"
              class="text-xs px-3 pb-4 py-4 border-r border-l"
            ></th>
            <th scope="col" class="text-xs px-3 pb-4 py-4 border-r">
              <input
                type="text"
                (keyup)="filterByField('description', $event)"
                class="form-control block rounded-md w-full px-3 py-2 text-xs font-normal text-gray-700 bg-gray-100 bg-clip-padding border-0 transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-x-blue-500 focus:outline-none"
                placeholder="Search..."
              />
            </th>
            <th scope="col" class="text-xs px-3 pb-4 py-4 border-r">
              <input
                type="text"
                (keyup)="filterByField('m_type.type', $event)"
                class="form-control block rounded-md w-full px-3 py-2 text-xs font-normal text-gray-700 bg-gray-100 bg-clip-padding border-0 transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-x-blue-500 focus:outline-none"
                placeholder="Search..."
              />
            </th>
            <th scope="col" class="text-xs px-3 pb-4 py-4 border-r">
              <input
                type="text"
                (keyup)="filterByField('m_aircraft_type.ac_type', $event)"
                class="form-control block rounded-md w-full px-3 py-2 text-xs font-normal text-gray-700 bg-gray-100 bg-clip-padding border-0 transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-x-blue-500 focus:outline-none"
                placeholder="Search..."
              />
            </th>
            <th scope="col" class="text-xs px-3 pb-4 py-4 border-r">
              <input
                type="text"
                (keyup)="filterByField('model', $event)"
                class="form-control block rounded-md w-full px-3 py-2 text-xs font-normal text-gray-700 bg-gray-100 bg-clip-padding border-0 transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-x-blue-500 focus:outline-none"
                placeholder="Search..."
              />
            </th>
            <th scope="col" class="text-xs px-3 pb-4 py-4 border-r">
              <input
                type="text"
                (keyup)="filterByField('part_number', $event)"
                class="form-control block rounded-md w-full px-3 py-2 text-xs font-normal text-gray-700 bg-gray-100 bg-clip-padding border-0 transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-x-blue-500 focus:outline-none"
                placeholder="Search..."
              />
            </th>
            <th scope="col" class="text-xs px-3 pb-4 py-4 border-r">
              <input
                type="text"
                (keyup)="filterByField('serial_number', $event)"
                class="form-control block rounded-md w-full px-3 py-2 text-xs font-normal text-gray-700 bg-gray-100 bg-clip-padding border-0 transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-x-blue-500 focus:outline-none"
                placeholder="Search..."
              />
            </th>
            <th scope="col" class="text-xs px-3 pb-4 py-4 border-r">
              <input
                type="text"
                (keyup)="filterByField('inventory_number', $event)"
                class="form-control block rounded-md w-full px-3 py-2 text-xs font-normal text-gray-700 bg-gray-100 bg-clip-padding border-0 transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-x-blue-500 focus:outline-none"
                placeholder="Search..."
              />
            </th>
            <th scope="col" class="text-xs px-3 pb-4 py-4 border-r">
              <input
                type="date"
                (change)="filterDate($event)"
                class="form-control block rounded-md w-full px-3 py-2 text-xs font-normal text-gray-700 bg-gray-100 bg-clip-padding border-0 transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-x-blue-500 focus:outline-none"
              />
            </th>
            <th scope="col" class="text-xs px-3 pb-4 py-4 border-r">
              <input
                type="text"
                (keyup)="
                  filterByField('equipment_datum.request[0].id_request', $event)
                "
                class="form-control block rounded-md w-full px-3 py-2 text-xs font-normal text-gray-700 bg-gray-100 bg-clip-padding border-0 transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-x-blue-500 focus:outline-none"
                placeholder="Search..."
              />
            </th>
            <th scope="col" class="text-xs px-3 pb-4 py-4 border-r">
              <input
                type="text"
                (keyup)="filterByField('m_manufacture.manufacture', $event)"
                class="form-control block rounded-md w-full px-3 py-2 text-xs font-normal text-gray-700 bg-gray-100 bg-clip-padding border-0 transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-x-blue-500 focus:outline-none"
                placeholder="Search..."
              />
            </th>
            <th
              scope="col"
              class="text-xs px-3 pb-4 py-4 border-r border-l"
            ></th>
            <th scope="col" class="text-xs px-3 pb-4 py-4 border-r">
              <input
                type="text"
                (keyup)="filterByField('m_owner.owner_name', $event)"
                class="form-control block rounded-md w-full px-3 py-2 text-xs font-normal text-gray-700 bg-gray-100 bg-clip-padding border-0 transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-x-blue-500 focus:outline-none"
                placeholder="Search..."
              />
            </th>
            <th scope="col" class="text-xs px-3 pb-4 py-4 border-r">
              <input
                type="text"
                (keyup)="filterByField('storage_location', $event)"
                class="form-control block rounded-md w-full px-3 py-2 text-xs font-normal text-gray-700 bg-gray-100 bg-clip-padding border-0 transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-x-blue-500 focus:outline-none"
                placeholder="Search..."
              />
            </th>
            <th scope="col" class="text-xs px-3 pb-4 py-4 border-r">
              <select
                (change)="filterStatus($event)"
                class="form-select form-select-sm rounded-md block w-28 px-2 py-1.5 text-sm font-normal text-gray-700 bg-gray-100 bg-clip-padding bg-no-repeat border border-solid border-gray-300 transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-x-blue-600 focus:outline-none"
                aria-label=".form-select-sm example"
              >
                <option hidden [selected]="onStatus == 0">Select</option>
                <option *ngIf="onStatus != 0" value="0">Reset</option>
                <option value="1">Serviceable</option>
                <option value="2">Hazard</option>
                <option value="3">Rectification</option>
              </select>
            </th>
            <th
              scope="col"
              class="text-xs px-3 pb-4 py-4 border-r border-l"
            ></th>
          </tr>
        </thead>
        <tbody>
          <!-- Table rows and cells -->
          <tr
            class="text-center"
            *ngFor="let hazards of reportHazardData; let i = index"
          >
            <td class="py-4 px-6 border border-gray-300">
              {{ dataRequest.offset + 1 + i }}
            </td>
            <td class="py-4 px-6 border border-gray-300 uppercase">
              {{ hazards.equipment.description }}
            </td>
            <td class="py-4 px-6 border border-gray-300">
              {{ hazards.equipment.type.typeName }}
            </td>
            <td class="py-4 px-6 border border-gray-300">
              {{ hazards.equipment.aircraftType.acType }}
            </td>
            <td class="py-4 px-6 border border-gray-300">
              {{ hazards.equipment.model }}
            </td>
            <td class="py-4 px-6 border border-gray-300">
              {{ hazards.equipment.partNumber }}
            </td>
            <td class="py-4 px-6 border border-gray-300">
              {{ hazards.equipment.serialNumber }}
            </td>
            <td class="py-4 px-6 border border-gray-300">
              {{ hazards.equipment.inventoryNumber }}
            </td>
            <td class="py-4 px-6 border border-gray-300">
              {{ hazards.equipment.manufactureDate | date : "dd-MMM-yyyy" }}
            </td>
            <td class="py-4 px-6 border border-gray-300">
              {{ hazards.equipment.request[0]?.requestId || "-" }}
            </td>
            <td class="py-4 px-6 border border-gray-300">
              {{ hazards.equipment.manufacture?.manufactureName || "-" }}
            </td>
            <td class="py-4 px-6 border border-gray-300">
              {{
                hazards.equipment.pmiData[0]?.nextPmiDueDate
                  | date : "dd-MMM-yyyy" || "-"
              }}
            </td>
            <td class="py-4 px-6 border border-gray-300">
              {{ hazards.equipment.owner?.ownerName || "-" }}
            </td>
            <td class="py-4 px-6 border border-gray-300">
              {{ hazards.equipment.storageLocation || "-" }}
            </td>
            <td class="py-4 px-6 border border-gray-300">
              <!-- Jika sudah di close -->
              <span
                *ngIf="hazards.isClosed == 1"
                class="text-xs inline-block py-1 px-2.5 leading-none whitespace-nowrap align-baseline outline outline-2 outline-red-400 font-bold bg-red-300 text-red-800 rounded"
                >Serviceable</span
              >
              <!-- Jika belum diclose dan form masih kosong (data baru ditambahkan) -->
              <span
                *ngIf="hazards.isClosed == 0 && hazards.rectification == null"
                class="text-xs inline-block py-1 px-2.5 leading-none whitespace-nowrap align-baseline outline outline-2 outline-yellow-400 font-bold bg-yellow-300 text-yellow-800 rounded"
                >Unserviceable</span
              >
              <!-- Jika belum diclose dan form sudah diisi  -->
              <span
                *ngIf="hazards.isClosed == 0 && hazards.rectification != null"
                class="text-xs inline-block py-1 px-2.5 leading-none whitespace-nowrap align-baseline outline outline-2 outline-green-400 font-bold bg-green-300 text-green-800 rounded"
                >Rectification</span
              >
            </td>
            <td class="py-4 px-6 border border-gray-300">
              <button
                type="button"
                routerLink="detail-report-hazard"
                (click)="detailHazard(hazards.hazardId)"
                class="border-blue-700 text-blue-700 font-medium text-md leading-tight outline outline-2 outline-blue-200 rounded hover:bg-blue-500 hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out"
              >
                <svg
                  class="w-6 h-6"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path d="M10 12a2 2 0 100-4 2 2 0 000 4z"></path>
                  <path
                    fill-rule="evenodd"
                    d="M.458 10C1.732 5.943 5.522 3 10 3s8.268 2.943 9.542 7c-1.274 4.057-5.064 7-9.542 7S1.732 14.057.458 10zM14 10a4 4 0 11-8 0 4 4 0 018 0z"
                    clip-rule="evenodd"
                  ></path>
                </svg>
              </button>
            </td>
            <!-- Add additional cells here -->
          </tr>
          <!-- Add additional rows here -->
          <!-- Jika datanya kosong -->
          <tr *ngIf="reportHazardData?.length == 0">
            <td
              colspan="16"
              class="py-5 items-center text-center text-gray-500 font-bold"
            >
              No data available
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- Pagination -->
    <div
      *ngIf="reportHazardData?.length > 0"
      class="flex items-center justify-between mt-5"
    >
      <div class="flex items-center justify-start">
        <span class="text-sm">Show</span>
        <select
          [(ngModel)]="paginator.pageSize"
          (ngModelChange)="changePageSize()"
          class="bg-gray-50 border border-gray-300 text-gray-700 text-sm rounded-lg focus:ring-blue-300 focus:border-blue-300 block w-full py-1.5 pl-2 pr-7 mx-2 hover:cursor-pointer"
        >
          <option *ngFor="let size of paginator.pageOption" [ngValue]="size">
            {{ size }}
          </option>
        </select>
        <span class="text-sm">data</span>
      </div>
      <div class="inline-flex items-center text-center text-sm">
        Page {{ paginator.pageNumber }} of {{ paginator.totalPage }}
      </div>
      <div class="flex items-center text-sm">
        <button
          type="button"
          (click)="changePageNumber(false)"
          [disabled]="paginator.pageNumber == 1"
          [class]="paginator.pageNumber == 1 ? 'bg-gray-200' : 'bg-gray-50'"
          class="inline-flex items-center px-3 py-1.5 text-sm font-medium text-gray-700 border border-gray-300 rounded-lg active:bg-gray-200 active:border-blue-300"
        >
          <hero-icon
            [name]="'chevron-left'"
            hostDisplay="inlineBlock"
            type="outline"
            class="nav-btn-icon h-3 w-3 mr-1"
          ></hero-icon>
          Previous
        </button>
        <button
          type="button"
          (click)="changePageNumber(true)"
          [disabled]="paginator.pageNumber == paginator.totalPage"
          [class]="
            paginator.pageNumber == paginator.totalPage
              ? 'bg-gray-200'
              : 'bg-gray-50'
          "
          class="inline-flex items-center px-3 py-1.5 text-sm font-medium text-gray-700 border border-gray-300 rounded-lg active:bg-gray-200 active:border-blue-300 ml-2"
        >
          Next
          <hero-icon
            [name]="'chevron-right'"
            hostDisplay="inlineBlock"
            type="outline"
            class="nav-btn-icon h-3 w-3 ml-1"
          ></hero-icon>
        </button>
      </div>
    </div>
  </div>
</div>
